
.MoviesItem {
    background-color: rgb(68, 68, 68);
    height: 550px;
    // llinear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c)
    position: relative;
    cursor: pointer;
    margin-bottom: 25px;
    border-radius: 15px;

    &:hover > .info {
        opacity: 1;
    }
}

.movieCard {
    padding: 1rem;
}

.info {
    top: 1rem;
    right: 1rem;
    left: 1rem;
    height: 418px;
    color: #fff;
    position: absolute;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1rem;
    box-sizing: border-box;
    transition: opacity 120ms ease-in-out;
    font-size: 15px;
}

.footerInfo{
    color: #fff;
    width: 100%;
    max-width: 300px;
    padding: 1rem;
}

.titleWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.title, .year {
    margin: 0;
    font-size: 15px;
}

.reating {
    display: flex;
    min-width: 3rem;
    justify-content: flex-end;
}


.btnFavorites {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
}

.link {
    text-decoration: none;
}
